/* Import all styles */
@import './base.css';
@import './components/header.css';
@import './components/hero.css';
@import './components/work.css';
@import './components/sidebar.css';
@import './components/animations.css';
@import './utilities.css';
